*{
	margin: 0;
	padding: 0;
}

.row > h2
{
	margin-left: 20%;
}

/*.login-btn{
	width: 100%;
}*/

footer{
	margin-top: auto;
}

body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

